@model CompanySite.Models.Newpage
@{
    ViewBag.Title = "SubmitComplete";
}

<style type="text/css">
    .complete-message {
        font-size: 20px;
    }

    .btn-default {
        width: 150px;
        background-color: lightblue;
    }
</style>

<!-- ======= Register Completed ======= -->
<section id="inquiry" style="margin-top:60px;">

    <div class="container">

        <div class="row gy-4">
            <h2 class="centered mb">Your Registeration Has Been Recored </h2>
            <div class="text-center complete-message mb">
                Thank you!!!
            </div>
            <div class="text-center mb">
                <button type="button" class="btn btn-default" onclick="location.href = '/'">TOP</button>
            </div>
            <h2 class="centered mb">Your can View the Registered Details </h2>
            <div class="text-center mb">
                <button type="button" class="btn btn-default" onclick="location.href = '/Newpage/ShowRegister/'">Show Details</button>
            </div>
            
        </div>
    </div>

</section><!-- End inquiry Section -->
