@model CompanySite.Models.Newpage
@{
    ViewBag.Title = "test";
}
<style type="text/css">
    h2 {
        margin-top: 40px;
    }
    

    /*h1 {*/
        /*margin-top: 50px;*/
    /*}*/
    .button {
        width: 200px;
        border-radius: 3px;
        background-color: #C3D7FF;
        /*ackground-image: #C3D7FF;*/
        background-image: -moz-linear-gradient(top, #fff 0%, #C3D7FF 100%);
        background-image: -webkit-linear-gradient(top, #fff 0%,#C3D7FF 100%);
        background-image: linear-gradient(to bottom, #fff 0%,#C3D7FF 100%);
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
        color:darkblue;
        border:thin;
    }
    .button:hover {
        background-position: -200%;
        transition: background 300ms ease-in-out;
    }
</style>


<div class=" container">
    <h1 style="margin-top:50px" class="ptb centered">You Can Register From Here</h1>
    <h1 class="ptb centered">
        <button type="button" class="button"><a href='/newpage/Register/'>Register</a></button>
        <button type="button" class="button"><a href='/newpage/ShowRegister/'>Detail</a></button>

    </h1>
</div>

