@model CompanySite.Models.Vacancy

@{
    ViewBag.Title = "Message Confirm";
}

<style type="text/css">
    .complete-message {
        font-size: 20px;
    }

    .btn-default {
        width: 150px;
        background-color: lightblue;
    }
</style>

<!-- ======= vacancy Section ======= -->
<section id="vacancy" style="margin-top:60px;">

    <div class="container">

        <div class="row gy-4">
            <h2 class="centered mb">Message Send Completed</h2>
            <div class="text-center complete-message mb">
                Thank you for your application.
            </div>
            <div class="text-center mb">
                <button type="button" class="btn btn-default" onclick="location.href = '/'">TOP</button>
            </div>
        </div>
    </div>

</section><!-- End inquiry Section -->
