@model CompanySite.Models.Home

@{
    ViewBag.Title = "Inquiry";
    ViewBag.MenuHiddenFlg = "1";
    ViewBag.ContactPageFlg = "1";
}

<!-- ********** 問い合わせ入力 ********** -->
<main id="main" style="margin-top: 60px;">
    <section id="contact" class="contact" style="padding-bottom:0px;">

        <div class="container">

            <header class="section-header">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </header>
        </div>

    </section>

    <!-- ======= inquiry Section ======= -->
    @Html.Partial("~/Views/Shared/ContactInput.cshtml", Model)
    <!-- End inquiry Section -->
</main>