@model CompanySite.Models.Home

@{
    ViewBag.Title = "Top";
}

<!-- ======= home Section ======= -->
<section id="home" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Grow your business collaborating with us</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented developers making mobile apps and robust websites</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/Content/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Who We Are</h3>
                        <h2>Innovate Efficiently Better, Faster, Bigger.</h2>
                        <p>
                            We are a mission-driven organization which fuel the mission with a team of passionate well trained and motivated individual.<br/>
                            We help businesses plan and create the digital experience of tomorrow. We succeed together by building the best of entrepreneurship, startup, rational and world-class engineering.
                        </p>
                        <h2>Design, Bulid and Scale your vision.</h2>
                        <p>
                            We will build you custom websites and manage them as well.<br />
                            We are effective and creative web design & development company in Kathmandu, Nepal. We build robust websites and software applications.
                        </p>
                        <h2>We help ambitious clients reach unheard heights with extraordinary outcomes.</h2>
                        <p>
                            Our company provides an extraordinary environment and opportunity to make right use of new technology. Great teamwork and amity with co-worker.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/Content/img/about.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Services</h2>
                <p>Service to grow your business</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Outsourcing</h3>
                        <p>Our strength is our capacity in bringing projects from different parts of the world without any communication or external barriers.</p>
                        @*<a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>*@
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Mobile Apps</h3>
                        <p>We help build robust mobile applications which are intended for productivity assistance as email, calandar and contact databases.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Responsive Websites</h3>
                        <p>Our approach is to design webpages which render well on a variety of devices and window or screen sizes.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        <h3>E-commerce</h3>
                        <p>Our products helps in buying and ordering of goods and sercives through differnts systems like POS system.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-box purple">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Enterprise Application</h3>
                        <p>An enterprise application (EA) is a large software system platform designed to operate in a corporate environment such as business or government.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service-box pink">
                        <i class="ri-discuss-line icon"></i>
                        <h3>CMS</h3>
                        <p>A Content Management System, or CMS, is a piece of software designed to help users create and edit a website. We build such system.</p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Services Section -->

    <!-- ======= Products Section ======= -->
    <section id="products" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Our Products</h2>
                <p>Our products are coming soon.........</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <div class="box" data-aos="fade-up" data-aos-delay="100" style="text-align: center;">
                        <img src="~/Content/img/OMS.jpg" class="img-fluid" alt="">
                        <img src="~/Content/img/coming-soon.png" style="width:250px;" />
                        <h3>Order Management System</h3>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="200" style="text-align: center;">
                        <img src="~/Content/img/POS.png" class="img-fluid" alt="">
                        <img src="~/Content/img/coming-soon.png" style="width:250px;" />
                        <h3>Point Of Sale(POS)<br />Cash Register System</h3>
                        @*<p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>*@
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Products Section -->

    <!-- ======= outsourcing Section ======= -->
    <section id="outsourcing" class="outsourcing">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Outsourcing</h2>
                <p>Software Development Outsourcing</p>
            </header>

            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content" style="padding:55px;">
                        <h3><i class="bi bi-check2"></i> Why Outsourcing in Nepal?</h3>
                        <p>
                            Outsourcing in Nepal is very cheap compared to other countries. The programmers and developers here are highly motivated and hardworking individuals. That is why labor cost in Nepal is cheaper than in other developing countries.<br>
                            Research from various sources shows that Nepal is 34% cheaper than India for outsourcing. Despite being cheap the quality of products and services are high as well as Nepal is strategically located between India and China which are home to big companies.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200" style="text-align:center;">
                    <img src="~/Content/img/outsourcing-software.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3><i class="bi bi-check2"></i> Why work with Us?</h3>
                        <p>
                            We are not just a agency but we are here to support you for the long run, from mobile applications to website design, ecommerce and beyond that stratosphere. We believe in sustainable success which accounts for long run and we long for a technology partner for ongoing business success. We are a visionary team with a mission driven and robust digital solutions which can get the most out of your business.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- End outsourcing Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Team</h2>
                <p>Our illustrious team members</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/10-sudip.jpg" class="img-fluid" alt="">
                            @*<div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>*@
                        </div>
                        <div class="member-info">
                            <h4>Sudip Baral</h4>
                            <span>Chief Executive Officer(CEO)</span>
                            @*<p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/15-jeewan.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Jeewan Aryal</h4>
                            <span>Managing Director(MD)</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/50-bibek.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Bibek Karki</h4>
                            <span>System Enginner</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/101-jn.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Jonny Depp</h4>
                            <span>Actor</span>
                        </div>
                    </div>
                </div>
                

            </div>

            <div class="row gy-4" style="margin-top:10px;">

                
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/55-tukanath.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Tukanath Paudel</h4>
                            <span>System Engineer</span>
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/60-shristi.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Shristi Aryal</h4>
                            <span>Programmer</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/70-hridesh.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Hridayash Aryal</h4>
                            <span>Web-Designer</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/img/team/80-dinesh.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Dinesh Aryal</h4>
                            <span>Adviser</span>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>

    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </header>

            <div class="row gy-4">

                <div class="col-md-4">
                    <div class="info-box">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <p>
                            Ward no.9, Dhalpa,<br>
                            Kritipur, Kathmandu, Nepal
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <i class="bi bi-telephone"></i>
                        <h3>Call Us</h3>
                        <p><a href="tel:+9779851191025">+977 98511 91025</a><br><a href="tel:+9779851232074">+977 98512 32074</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <i class="bi bi-clock"></i>
                        <h3>Open Hours</h3>
                        <p>Monday - Friday<br>9:00AM - 06:00PM</p>
                    </div>
                </div>

            </div>

            <hr />
            <div class="row gy-4">
                <iframe height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=27.67358262002374,%2085.2701893601176&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://yt2.org"></a><br>
            </div>

        </div>

    </section><!-- End Contact Section -->

    <!-- ======= inquiry Section ======= -->
   @Html.Partial("~/Views/Shared/ContactInput.cshtml", Model)
    <!-- End inquiry Section -->

    



</main><!-- End #main -->
<!-- ********** contact（問い合わせ）関連 ********** -->
@*<div id="contact"></div>
    <div class="container">
        <h1 class="ptb centered">問い合わせ<br />Contact Us</h1>
        @Html.Partial("~/Views/Shared/ContactInput.cshtml", Model)
        <br />
    </div>*@
<!-- / contact -->
